* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.298);
    font-family: Karla;
}

.main-container {
    width: 550px;
    margin: 40px;
}

.navbar {
    height: 65px;
    background: linear-gradient(90deg, #672280, #A626D3);
    display: flex;
    padding: 20px 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.header-title {
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
    /* margin-right: auto; */
}


.header-logo {
    width: 40px;
    margin-right: 10px;
}

/* .header-additional {
    color: white;
    font-size: 14px;
    line-height: 14px;
    font-family: Inter;
    font-weight: 500;
} */

.body-container {
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: white;
}

.form-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.form-item {
    width: 47%;
    box-sizing: border-box;
}

.form-instructions {
    line-height: 16px;
    font-size: 14px;
    color: #374151;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-input {
    width: 100%;
    padding: 10px;
    outline-color: #D1D5DB;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
}


.new-meme-button {
    background: linear-gradient(90deg, #672280, #A626D3);
    border: none;
    width: 100%;
    margin-block: 15px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.meme-image {
    max-width: 100%;
    /* max-width: 400px; */
    margin-block: 20px;
    border-radius: 3px;
}

.meme {
    position: relative;
}


.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 10px;
}

.top {
    top: 10px;
}


@media screen and (max-width: 549px) {
    .main-container {
        width: 320px;
        margin: 40px 0px;
        box-sizing: border-box;
    }

    .form-section {
        display: flex;
        width: 100%;
        /* justify-content: space-between; */
        flex-direction: column;
        box-sizing: border-box;
    }
    
    .form-item {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
}